autobc1
cmd
diff.hb6
diff.mb6
disk.mb6
disk.txt
print.bc1
print.hb6
print.mb6
printtest.cpp
printtest.exe
test.hb6
test.mb6
zerotest.bc1
zerotest.hb6
zerotest.mb6
.vscode/launch.json
negatives.bc1
negatives.hb6
negatives.mb6
